[Desktop Entry]
Name=Alien Update
Comment=Updates a large amount of applications
Type=Application
Terminal=true
Exec=alien-update
TryExec=/usr/bin/alien-update
